.loading-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.5;
}

.loading-img {
  width: 100%;
  height: 100%;
  background-image: url(../cim/markers/throbber.gif) no-repeat center center;
}

.tef-hierarchical {
  display: none;
}

.apachesolr-date-interval {
}

.apachesolr-date-interval select {
  width: 33.33%;
  float: left;
}

/*
.apachesolr-date-interval .from label, .apachesolr-date-interval .to label {
    display:none;
}
*/
.apachesolr-date-interval .form-type-select {
  width: 33.33% !important;
  padding: 0px 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  float: left;
}

.apachesolr-date-interval .form-type-select:nth-child(2) {
  padding-left: 0px;
}

.apachesolr-date-interval .form-type-select:last-child {
  padding-right: 0px;
}

.apachesolr-date-interval .form-type-select label {
  display: none;
}

.apachesolr-date-interval .separator {
  width: 100%;
  height: 30px;
  float: left;
  text-align: center;
  line-height: 30px;
  display: none;
}

/*
div.tef label {
    margin-top:10px;
    display:block;
    clear:both;
}

div.tef .fieldset-wrapper > :first-child label {
    margin-top:0px;
}
*/

@media screen and (max-width: 620px) {
  .apachesolr-date-interval .separator {
    float: none;
    clear: both;
    width: 100%;
  }

  .apachesolr-date-interval .form-type-select {
    width: 33.33% !important;
  }

  .apachesolr-date-interval .from .form-type-select:last-child {
    padding-right: 0px;
  }

  .apachesolr-date-interval .to .form-type-select:first-child {
    padding-left: 0px;
  }

  .apachesolr-date-interval .separator {
    display: none;
  }
}

.apachesolr-filters-toggle {
  float: none;
  clear: both;
  display: block;
}

.asp-modal {
  display: none;
  position: relative;
  z-index: 1;
}

.asp-modal .asp-cancel-button {
  float: right;
}

.asp-modal-overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.33);
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.asp-modal-contents {
  position: absolute;
  left: 0px;
  right: 0px;
  background: white;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  padding: 15px;
}

.apachesolr-active-filters {

}

.apachesolr-active-filters ul li {
  display: inline;
}

.apachesolr-active-filters ul li a {
  display: block;
  float: left;
  color: #fff;
  padding: 5px;
  padding-right: 28px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  text-decoration: none;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 0.8em;
  font-weight: bold;
  background-color: #ccc;
  background-image: url(/sites/all/themes/tehetseghu/images/remove.svg);
  background-size: auto 100%;
  background-position: right center;
  background-repeat: no-repeat;
}

.apachesolr-active-filters ul li a.asp-reset-filters {
  background-color: #999;
  background-image: url(/sites/all/themes/tehetseghu/images/remove_circular.svg);
}

.apachesolr-active-filters ul li a.asp-modify-filters {
  background-color: #999;
  background-image: url(/sites/all/themes/tehetseghu/images/search-small.svg);
}

.apachesolr-active-filters:after {
  display: block;
  clear: both;
  content: '';

}

span.asp-facet-info {
  color: #999;
  display: inline-block;
  font-size: 0.85em;
  padding-left: 5px;
}

.with-facets .form-type-radio label,
.with-facets .form-type-checkbox label {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

span.asp-facet-info {
  float: right;
  max-width: 50px;
  text-align: right;
  display: block;
  font-size: 0.85em;
}

